:root {
    font-family: "Open Sans", serif;
}

#page {
    box-sizing: border-box;
    width: 1220px;
    padding: 24px;
    border-radius: 24px;
    margin: 80px auto 88px;

}

img {
    border-radius: 16px;
    box-sizing: border-box;
    
    
}

h1 {
    
    margin-top: 8px;
    margin-bottom: 40px;
    font-weight: bold;
}

h2 {
    margin-top: 8px;
    margin-bottom: 0px;

}

h3 {
    font-size: 16px;   
    margin-bottom: 8px; 
    font-weight: bold;
    color: #E1624F;

}

h4 {
    font-size: 16px;
    text-align: center;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 64px;
}
h5{
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
}
p {
    box-sizing: content-box;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 20px;
    

}

ul {
    list-style-type: disc;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 48px;
    padding-left: 21px;
}

.lista1 li:nth-child(1) {
    color: #0C51A7; 
}

.lista2 li:nth-child(1) {
    color: #0C51A7; 
}

.lista3 li:nth-child(1) {
    color: #591B98; 
}

.lista3 li:nth-child(2) {
    color: #E5245E;
}

.lista3 li:nth-child(3) {
    color: #E95E10;
}
footer {    
    text-align: center;
    padding-bottom: 48px;
}

footer img {
    box-sizing: border-box;
    vertical-align: middle;

    
    }